.highlight-title {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    /* Primary_900 */

    color: #091733;
}

.pokemon-hightlight {
    margin-bottom: 10px;
}