.footer-menu { 
    background-color: #0E1F40;
    width: 60%;
  
    color: white;
    font-size: 8px;
    padding: 10px;
    border-radius: 10px;

    position: fixed;
    top: calc(100vh - 50px);
    left: 15%;
    right: auto;
}

.footer-menu div {
    font-size: 8px;
}